main {
  height: 100vh;
}

.centralized {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 65px);
}

.logo {
  margin-left: 15px;
}

.submit-button {
  margin-top: 20px;
}

#generated-link-informations {
  display: none;
}
